/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

@font-face {
	font-family: Mania;
	src: url(mania.ttf);
}

html,body{
	width:100%;
	height:100%;
	background: transparent;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

div {
	font-family: Mania;
}

canvas{
  display:block;
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #6ce3fc;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
}

/* ---- content ---- */

.sticky {
	position: fixed;
	top: 0;
	left: 0;
}

.section {
	position: relative;
	z-index: 1;
}

#typing .fp-tableCell {
	vertical-align: bottom;
}

#typing .typing__block {
	position: relative;
	text-align: center;
}

#typing .typing__bubble {
	position: relative;
	top: 0;
}

.typing__block > p {
	line-height: 0;
}

.typing__bubble p {
	display: inline-block;
	position: relative;
	top: 30px;
	left: 180px;
	width: 392px;
	height: 140px;
	padding: 45px 53px 88px 40px;
	background: url(../images/bubble.png) top left no-repeat;
}

.typing__block > p {
	margin-right: 100px;
}

.typing__bubble span {
	font-size: 24px;
}

.typing__bubble span.typed {
	margin: 0 20px;
	font-size: 24px;
}